@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.container{
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 40%;
  width: max-content;
  min-height: 80vh;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6B6C70;
  transition: box-shadow 0.25s linear;
  padding: 40px 0;
}

.container:hover{
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.screen{
  margin-bottom: 40px;
  border-radius: 40px;
  min-width: 80%;
  height: 80px;
  background-color: green;
  color: white;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  box-sizing: border-box;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
}

span.op{
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  margin-right: 10px;
}

#root{
  width: 100%;
}

body{
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.keys{
  box-sizing: border-box;
  background-color: rgba(161, 199, 183, 0.2);
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  height: 100%;
  display: grid;
  gap: 10px;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.keys button{
  color: white;
  background-color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
  height: 60px;
  width: auto;
}

.keys .equals-to-btn{
  height: auto;
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 4;
}

button:nth-child(11){
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

button:nth-child(12){
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}

button.remove{
  grid-column: 4;
}

@media(max-width: 1200px){
  .keys button{
    padding: 20px;
  }
  .keys{
    gap: 5px;
  }
  .container{
    padding: 20px 0;
    min-height: 40vh;
  }
  .screen{
    margin-bottom: 20px;
  }
}